
@{
    Layout = null;
}


@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="#" />
    <title>About Us</title>
    <link rel="icon" href="images/favicon.jpg" type="image/jpg" sizes="16x16">
    <link href="~/Website/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Website/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Website/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Website/owlcarousel/assets/owl.theme.default.min.css">
    <link href="~/Website/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!-- header -->
    <div class="top_border">
        <div class="container">
            <div class="top-section">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="nav navbar-nav navbar-left">
                            <div class="mobile-list">
                            <li><i class="fa fa-phone" aria-hidden="true"></i> +91-9971106787</li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i>  sales@macreel.in</li>
                    </div>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="social-links">
                        <a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank" class="youtube"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="menu-top">
        <div class="container">
            <div class="header-bottom">
                <div class="logo">
                    <a href="/Home/Home"><img src="/Website/images/logo.png" class="img-fluid" alt="logo" /></a>
                </div>
                <div class="head-nav">
                    <span class="menu"> </span>
                    <ul class="cl-effect-15">
                        <li class="active"><a href="/Home/Home">Home</a></li>
                        <li><a href="/Home/About">About Us</a></li>
                        <li><a href="/Home/Product">Product</a></li>
                        <li><a href="/Home/Contact">Contact Us</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <div class="aboutback">
        <div class="container">
            <div class="row">
                <h1 class="heading text-center">ABOUT US</h1>
                <div class="col-md-7">
                    <div class="about-box">
                        <h3>Welcome to Macreel Info Soft Pvt.Ltd.</h3>
                        <div class="about-text">
                            <p>"Macreel Info Soft Pvt.Ltd. " was incepted in the year 2006. We are operating as a leading wholesale trader of CCTV Cameras, CCTV Power Supply, Digital Video Recorders, Audio MIC, Telephone System, Camera Accessories, etc. All our products are durable, precise in size and user friendly.</p></br>
                            <p>Moreover, due to our swift delivery, latest products and affordable price structure we have become the endorsed choice of the clients. With the help of good business ethics and international quality products we have also earn a respectful name in the domestic market. Our complete commitment towards our customers and backed by rich experience, our company has become a leading market player in its sphere of operation. Also, we have hired a team of qualified professionals to handle all our business process.We have recruited our team after checking their working experiences and knowledge. We are able to deliver the products on time at client destination with the help of our well-connected distribution network.</p></br>
                            <p>We are led by our owner Mr. Manish Tyagi, who holds a rich industrial experience in this profession. His sharp business mind and in-depth knowledge has helped us to stand, as a reputed organization.</p></br>

                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="camera">
                        <img src="/Website/images/gallery1/bannerimg.png" alt="banner" class="img-responsive" />
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--about--->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <p>Copyrights © 2020  Macreel infosoft Pvt.Ltd. All rights reserved </br> Design By <a href="http://macreel.com/" target="_blank">Macreel Infosoft Pvt.Ltd.</a></p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
		$( "span.menu" ).click(function() {
		  $( ".head-nav ul" ).slideToggle(300, function() {
			// Animation complete.
		  });
		});

		$(function(){
		  SyntaxHighlighter.all();
		});
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
    </script>
    <!-- FlexSlider -->
</body>
</html>

