
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="#" />
    <title>Contact Us </title>
    <link rel="icon" href="images/favicon.jpg" type="image/jpg" sizes="16x16">
    <link href="~/Website/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Website/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Website/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Website/owlcarousel/assets/owl.theme.default.min.css">
    <link href="~/Website/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Website/css/login.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!-- header -->
    <div class="top_border">
        <div class="container">
            <div class="top-section">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="nav navbar-nav navbar-left">
                            <div class="mobile-list">
                            <li><i class="fa fa-phone" aria-hidden="true"></i> +91-9971106787</li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i>  sales@macreel.in</li>
                    </div>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="social-links">
                        <a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank" class="youtube"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="menu-top">
        <div class="container">
            <div class="header-bottom">
                <div class="logo">
                    <a href="/Home/Home"><img src="/Website/images/logo.png" class="img-fluid" alt="logo" /></a>
                </div>
                <div class="head-nav">
                    <span class="menu"> </span>
                    <ul class="cl-effect-15">
                        <li class="active"><a href="/Home/Home">Home</a></li>
                        <li><a href="/Home/About">About Us</a></li>
                        <li><a href="/Home/Product">Product</a></li>
                        <li><a href="/Home/Contact">Contact Us</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <div class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contact-info">
                        <h3>Get in touch with us</h3>
                        <p>Thank you for visiting our company web site. We do welcome your comments about our site, as they help us in identifying new areas of interest for further communication.</p>
                        <div class="ads-lists">
                            <p><i class="fa fa-home bullat-icon"></i>Macreel Infosoft Pvt. Ltd.</p>
                            <p><i class="fa fa-map-marker bullat-icon"></i>H - 221,Sector 63, Noida, Uttar Pradesh 201307</p>
                            <p><i class="fa fa-phone bullat-icon"></i>Phone: +(91) 1204262416</p>
                            <p><i class="fa fa-envelope bullat-icon"></i>Email: support@macreel.co.in</p>

                        </div>
                    </div>
                    <div id="social-icon">
                        <h4 class="widget-title">Follow us :</h4>
                        <ul class="social-nav">
                            <li><a href="#" target="_blank" title="Twitter" rel="nofollow" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank" title="Facebook" rel="nofollow" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank" title="Google plus" rel="nofollow" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank" title="Linkedin" rel="nofollow" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank" title="Pinterest" rel="nofollow" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h2>Drop us a line...</h2>
                            <p>Drop us a message and we will contact you back shortly</p>
                            <svg version="1.1" id="Layer" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                 viewBox="0 0 113 120" xml:space="preserve" preserveAspectRatio="none">
                            <style type="text/css">
                                .st0 {
                                    fill: #fff;
                                    stroke: rgba(0,0,0,0.2);
                                    stroke-width: 2px;
                                }
</style>
                            <g>
                            <path class="st0" d="M93.8,87.4c16.7-28.2,23.9-51,11.5-70.9C100.1,8.2,92.4,4.3,84,2.7c6.1,12.9,6.3,28.3-0.4,41.7
										c5,2.6,8.3,7.9,8.3,13.9c0,8.7-7,15.7-15.7,15.7c-4.3,0-8.2-1.7-11.1-4.6l-19,14.8c0.7,1.4,0.4,3.1-0.9,4.1l-4,3.1
										c-1.4,1.1-3.5,0.8-4.5-0.6l-0.1-0.1c-1.1-1.4-0.8-3.5,0.6-4.5l4-3.1c1.3-1,3-0.9,4.2,0.2l18.9-14.8c-2.4-2.8-3.8-6.4-3.8-10.3
										c0-8.7,7-15.7,15.7-15.7c0.5,0,1,0,1.5,0.1c6.9-13.1,6.2-28.5-1-40.7c-10-0.5-20.3,1.2-28.4,2.2C31,6.2,26.8,1,26.8,1
										c-3.8,11.5,5.9,17,5.9,17s1.7-0.8-2.4,4.2c-4.1,5.1-5.2,15.6-5.8,18.4c-0.6,2.8,1.6,2.7,2.3,5.8c0.7,3.1-9.2,16.4-10.2,19.7
										c-1,3.3,8.1,6.9,8.1,6.9l-1.4,4.5c0.7,2.5,13.9,2,13.9,2c-2.8,4.2-10.5,3.7-10.5,3.7l-2.3,1.6c0,0,1.3,1.7,2.4,2.7
										c1.1,1,1.1,6.2,1.1,6.2c-1.3,8.6,1,10.3,5.9,12.5s12.6-3.1,12.6-2.1c0,1-0.1,19.8-0.1,19.8c29.7,14.6,51.4-6.4,51.4-6.4
										C95,109.8,93.8,87.4,93.8,87.4z" />
								</g>
							</svg>
                        </div>
                        <form class="form-wrap" method="POST" action="contact.php">
                            <div class="input-wrap">
                                <i class="material-icons">Name</i>
                                <input class="input" type="text" name="name" placeholder="First and Last name" value="" />
                            </div>
                            <div class="input-wrap">
                                <i class="material-icons">Email</i>
                                <input class="input" type="email" name="email" placeholder="email@mail.com" value="" />
                            </div>
                            <div class="input-wrap">
                                <i class="material-icons">Mobile No</i>
                                <input class="input" type="mobile" name="phone" placeholder="mobile number" value="" />
                            </div>
                            <div class="input-wrap">
                                <i class="material-icons">Message</i>
                                <textarea class="input" name="message" placeholder="Write what you feel" /></textarea>
                            </div>

                            <div class="input-wrap">
                                <input type="submit" class="btn btn-dark" name="submit" value="Submit">
                            </div>

                        </form>

                    </div>
                    <!-- end of Card -->
                    <script>
						$('.input').on("focus blur", function() {
					  if ($(this).val().length > 0 || $('.input').is(':focus')) {
						$(this).siblings().addClass('active');
						$(this).parent().addClass('active');

					  } else {
						$(this).siblings().removeClass('active').addClass('not');
						$(this).parent().removeClass('active').addClass('not');
					  }

					  if ($(this).val().length < 2 && $('.input').is(':focus') != true && $(this).is(':invalid') || $(this).is(':invalid') && $('.input').is(':focus') != true) {
						$(this).parent().addClass('invalid');
						$(this).siblings().addClass('invalid');
					  } else {
						$(this).parent().removeClass('invalid');
						$(this).siblings().removeClass('invalid');
					  }

					  if ($(this).val().length > 0 && $(this).is(':valid') && $('.input').is(':focus') != true) {
						$(this).parent().addClass('valid');
						$(this).siblings().addClass('valid');
					  } else {
						$(this).parent().removeClass('valid');
						$(this).siblings().removeClass('valid');
					  }

					});
                    </script>
                </div>

            </div>
        </div>
    </div>

    <section class="ads-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.0203664959186!2d77.38189821451365!3d28.629151690986014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ceff98aac2c65%3A0x48edc22ade7253f3!2sMacreel+info+soft+Pvt.Ltd.!5e0!3m2!1sen!2sin!4v1525761355762" height="460px" width="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </section>



    <!-- footer -->
    <div class="footer">
        <div class="container">
            <p>Copyrights © 2020  Macreel infosoft Pvt.Ltd. All rights reserved </br> Design By <a href="http://macreel.com/" target="_blank">Macreel Infosoft Pvt.Ltd.</a></p>
        </div>
    </div>

    <!-- FlexSlider -->
    <script src="~/Website/js/jquery.min.js"></script>
    <script defer src="~/Website/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
		$(function(){
		  SyntaxHighlighter.all();
		});
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
    </script>
    <!-- script-for-nav -->
    <script>
			$( "span.menu" ).click(function() {
			  $( ".head-nav ul" ).slideToggle(300, function() {
				// Animation complete.
			  });
			});
    </script>
    <!-- script-for-nav -->
</body>
</html>
